{% extends 'index.html' %}

{% block content %}
<h1>Event</h1>
<form method= "post" id="form_holder" action="{{ url_for('db_event') }}">
  What do you need?
  <select id="tal_sel" name="talent_type" form="form_holder">
    <option selected >----select----</option>
    <option name="tal_type" value="Musician">Musician</option>
    <option name="tal_type" value="VJ">VJ</option>
    <option name="tal_type" value="Sound Engineer">Sound engineer</option>
    <option name="tal_type" value="Photo/film">Photo/film</option>
  </select><br>
  Event name: <input type="text" name="name" value="Name"><br>
  Latitude: <input id="lat" name="latitude" value="46.666"><br>
  Longitude: <input id="lng" name="longitude" value="6.2222"><br>
  Date[DD/MM/YY]: <input id="date" type="date" name="date" min="2020-01-01"><br>
  Start time: <input type="time" name="t_0" value="23:59"><br>
  End time: <input type="time" name="t_1" value="23:59"><br>
  Pay? <select class="" name="pay_opt">
    <option selected >--select--</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    <option value="maybe">Maybe</option>
  </select><br>
  Description: <textarea name="description" rows="3" cols="30" placeholder=""></textarea><br>
  <input type="email" name="email" value="" placeholder="example@mail.com" required><br>
  <button onclick="post_event()">submit</button>
</form>
<a href="/">HOME</a>
{% endblock %}
