{% extends 'index.html' %}

{% block content %}
<h1>Concert</h1>
<form method= "post" id="form_holder" action="{{ url_for('db_concert') }}">
  What do you need?
  <select id="tal_sel" name="talent_type" form="form_holder" >
    <option selected >----select----</option>
    <option name="tal_type" value="Musician">Musician</option>
    <option name="tal_type" value="VJ">VJ</option>
    <option name="tal_type" value="Sound Engineer">Sound engineer</option>
    <option name="tal_type" value="Photo/film">Photo/film</option>
  </select><br>
  Venue: <input type="text" name="name" placeholder="Victoria Hall" value="" required><br>
  Coordinates: <input id="lat" name="latitude" placeholder="click" value="" size=7 required> /
  <input id="lng" name="longitude" placeholder="map!" value="" size=6 required><br>
  Date[DD/MM/YY]: <input id="date" type="date" name="date" min="2020-01-01" ><br>
  Start time: <input type="time" name="t_0" placeholder="23:59" value="" required><br>
  End time: <input type="time" name="t_1" placeholder="23:59" value="" required><br>
  Pay? <select class="" name="pay_opt" required>
    <option selected >--select--</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    <option value="maybe">Maybe</option>
  </select><br>
  Description: <textarea name="description" rows="3" cols="30" placeholder="hi"></textarea><br>
  <input type="email" name="email" value="" placeholder="example@mail.com" required><br>
  <button onclick="post_concert()">submit</button>
</form>
<a href="/">HOME</a>
{% endblock %}
